:root {
  --main-background-color: #1A1A1D;
  --container-color: #343477;
  --accent-color: #ff4742;
  --main-text-color: #e8e8e8;
  --border-radius: 5px;
  --light-grey: #e8e8e8;
  font-family: GB Museo Sans, Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

body {
  font-weight: bold;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--container-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.container p,
.container label {
  font-size: 1rem;
  margin-bottom: 10px;
}

.container textarea,
.container input[type="checkbox"],
.container button {
  font-size: 1rem;
  display: flex;
  width: 100%;
}



textarea {
  max-width: 100%;
}

button {
  font-family: 'Nunito', sans-serif;
  background-color: var(--accent-color);
  color: var(--main-text-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button:hover,
a:hover {
  background-color: #F2AA4C;
  color: var(--main-text-color);
}

a {
  color: #614be0;
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0px 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

ul li:last-child {
  border-bottom: none;
}

ul li:hover {
  background-color: #5a5a5a;
  color: #ffffff;
}

.extensions-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.extension-label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  white-space: nowrap;
}

.register-text,
.availible-text {
  font-style: italic;
  font-weight: normal;
  color: #F2AA4C;
}

.domain-text {
  font-weight: normal;
  color: greenyellow;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inner-domain-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.outer-domain-div {
  padding: 10px 0;
}

.domain-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.provider-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-top: 1px solid #ddd;
}

.provider-name {
  font-weight: bold;
}

.provider-price {
  color: #777;
}

.providers {
  display: none;
  margin-top: 5px;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#customExtensionInput {
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
}

.provider-table {
  display: none;
  background-color: #e8e8e8;
  border-radius: 8px;
  padding: 8px;
}

table {
  color: #283a4c  ;
  font-weight: normal;
}
