@font-face {
  font-family: 'Kongtext', 'Press Start 2P', 'Courier New', monospace, sans-serif;
  src: url('fonts/Kongtext.ttf') format('truetype');
}

@font-face {
  font-family: 'Joystix';
  src: url('fonts/Joystix.ttf') format('truetype');
}


:root {
  --main-container-background-color: #E0E0D6;
  --default-font: 'Kongtext', 'Press Start 2P', 'Courier New', monospace, sans-serif;
}


body {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0; /* Reset browser default margin if any */
  padding: 14px;
  overflow: auto;
}

/* Main container */
.nes-container.with-title.is-centered {
  background-color:  var(--main-container-background-color);
  max-width: 800px;
  margin: 50px auto;
}
/* Main container END */


label[for="headline2"] {
  display: block;
  text-align: left;
  font-weight: bold;
}

#charCounter {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  margin-top: 5px;
  color: #666666;
}

/* Extension checkbox */
.extensions-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.custom-extension {
  margin-right: 5px;
}
#customExtensionCheckbox + span {
  background-color: inherit;
}
#customExtensionInput {
  width: 202px;
  height: 30px;
  margin-left: 0;
  padding-left: 0;
}
#customExtensionInput::placeholder {
  font-size: 12px;
}
.nes-checkbox + span {
  background-color: #FFF;
  margin-left: 0;
  padding-left: 0;
}
.extension-label {
  display: flex;
  width: auto;
  text-align: left;
  vertical-align: top;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.extension-label:last-child {
  width: 100%;
}
/* Extension checkbox END */


#generateButton {
  color: #000000;
  margin-bottom: 18px;
}


/* Spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #FFF;
  border-bottom-color: #9B1438;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}
/* Spinner END */


/* Domain list */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0px 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

ul li:last-child {
  border-bottom: none;
}

ul li:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.register-text,
.availible-text {
  font-style: italic;
  font-weight: normal;
  color: #CC5500;
  font-size: 13px;
}

.domain-text {
  font-weight: normal;
  color: #6B8E23;
  text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff;
}

.inner-domain-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.outer-domain-div {
  padding: 10px 0;
}

.domain-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*CTA Select Provider*/
.nameHeader {
  font-size: 0.9em;
  font-weight: bold;
  color: #333333;
  padding: 2px;
  padding-left: 10px;
  letter-spacing: 1px;
}
a {
  /*GoDaddy*/
  color: #614be0;
  font-weight: normal;
  text-decoration: underline;
}
a:hover {
  background-color: #f2a640;
}

.provider-table {
  background-color: #D0D0C6;
  border-radius: 8px;
  overflow: hidden;
}
.provider-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-top: 1px solid #ddd;
}
.provider-name {
  font-weight: bold;
  text-decoration: underline;
}
.provider-price {
  color: #777;
}

#loadMoreButton {
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}
