<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XSTVXZ7M3D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XSTVXZ7M3D');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindDomain.AI</title>

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/kongtext" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="98e2b694-2a88-419b-a432-072f1e8def0e";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    <link rel="icon" href="../static/favicons/mario_star.ico" type="image/x-icon">

</head>
<body>
    <div class="nes-container with-title is-centered">
        <!-- Your content goes here -->
        <div class="content-wrapper">
        <div class="input-form">
            <h1><i class="nes-icon star"></i> FindDomain.AI <i class="nes-icon star"></i></h1>
            <br>
            <label for="headline2">Describe your project:</label>
                <textarea id="description" class="nes-textarea" rows="4" cols="50" maxlength="256" oninput="updateCounter()"></textarea><br>
                <span id="charCounter">0 / 256</span>
            <br>
            
            <label for="headline2">Select extensions:</label>
            <div class="extensions-wrapper">
                {% for extension in extensions %}
                    <label class="extension-label">
                        <input type="checkbox" class="nes-checkbox" id="{{ extension }}" name="{{ extension }}" value="{{ extension }}" {% if loop.first %}checked{% endif %}>
                        <span>{{ extension }}</span>
                    </label>
                {% endfor %}
                <label class="extension-label">
                    <input type="checkbox" class="nes-checkbox" id="customExtensionCheckbox">
                    <span class="custom-extension">Custom:</span>
                    <input type="text" id="customExtensionInput" class="nes-input" placeholder="Enter extension">
                </label>
            </div>
            
            <br>
            <button class="nes-btn is-primary" id="generateButton" onclick="generateNewDomainList()">Find Availible Domain Names</button>
        </div>

        <ul id="domainList"></ul>

        <div id="spinner" style="display: none;">
        </div>

        <div id="errorMessage">
        </div>

        <button id="loadMoreButton" class="nes-btn is-success" onclick="loadMoreDomains()" style="display: none;">Load More</button>
</div>

        <script>
            window.onload = function() {
                const textarea = document.getElementById("description");
                textarea.value = "";
                updateCounter();
            }

            function updateCounter() {
                const description = document.getElementById("description");
                const counter = document.getElementById("charCounter");
                counter.textContent = `${description.value.length} / 256`;
            }

            //flags
            let isLoadingMore = false;
            let hasGeneratedDomains = false;
            let description = "";
            let selectedExtensions = [];
            let generatedDomainsWithoutExtensions = new Set();

            async function generateNewDomainList() {
                console.log("generate new domain list");
                clearDomainList();
                generatedDomainsWithoutExtensions.clear();
                // Remove the bcrikko message container if it exists
                const existingContainer = document.querySelector(".bcrikko-message-container");
                if (existingContainer) {
                    existingContainer.remove();
                }

                description = document.getElementById("description").value;
                console.log("description",description)
                const checkboxes = document.querySelectorAll("input[type=checkbox]:checked");
                selectedExtensions = Array.from(checkboxes).map(checkbox => checkbox.value);
                
                // handles custom extension checkbox
                const customCheckbox = document.getElementById("customExtensionCheckbox");
                if (customCheckbox.checked) {
                    let customExtension = document.getElementById("customExtensionInput").value;
                    if (customExtension !== "") {
                        // Check if customExtension starts with a dot, if not, prepend it
                        if (!customExtension.startsWith('.')) {
                            customExtension = '.' + customExtension;
                        }
                        selectedExtensions.push(customExtension);
                    }
                }

                console.log("selected extensions", selectedExtensions)

                // Check if selectedExtensions is empty
                if (selectedExtensions.length === 0) {
                    displayMessageWithBcrikko("Let's picking an extension before we roll?");
                    return;
                }

                await generateDomainNames();
            }

            async function generateDomainNames() {
                console.log("generate domain names")

                showSpinner();
                document.getElementById("loadMoreButton").style.display = "none";

                let response, data;

                let retries = 0;

                for (let i = 0; i < 5; i++) {
                    console.log("attempt: ",i)
                    try {
                        response = await fetch("/generate_domains_without_extensions", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                description: description,
                                generatedDomains: Array.from(generatedDomainsWithoutExtensions),
                            }),
                        });

                        data = await response.json();  // Parse the JSON response once
                        console.log("data", data);

                        if (!response.ok) {
                            if (data.error && data.error.includes("Bad description")) {
                                console.error("Bad description.");
                                // Display the error message to the user
                                displayMessageWithBcrikko("Hmm,.. that description seems a bit off. Wanna tweak it and try again?");
                                break;
                            } else {
                                console.error("An unknown error occurred.");
                            }
                        }
                    } catch (error) {
                        retries++;
                        console.error(`Error fetching domains: ${error.message}. Retrying ${10 - retries} more times...`);
                        await new Promise(resolve => setTimeout(resolve, 2000)); // Wait 2 seconds before retrying
                    }

                    const domainsWithoutExtensions = data.domains;
                    console.log("domainsWithoutExtensions",domainsWithoutExtensions)

                    //remove duplicates from new domains
                    for (const domain of domainsWithoutExtensions) {
                        //if domain is already in generatedDomainsWithoutExtensions, remove it from domainsWithoutExtensions
                        if (generatedDomainsWithoutExtensions.has(domain)) {
                            domainsWithoutExtensions.splice(domainsWithoutExtensions.indexOf(domain), 1);
                        }
                    }


                    // Add generated domains without extensions to the set
                    domainsWithoutExtensions.forEach(domain => generatedDomainsWithoutExtensions.add(domain));

                    //Add extensions
                    const domainsWithExtensions = [];
                    for (const domain of domainsWithoutExtensions) {
                        for (extension of selectedExtensions) {
                            domainsWithExtensions.push(domain + extension);
                        }
                    }

                    console.log("domains with extensions",domainsWithExtensions)

                    // Check availability and update DOM
                    const domainList = document.getElementById("domainList");
                    let availableCount = 0;
                    for (const domain of domainsWithExtensions) {
                        const available = await checkAvailability(domain);
                        if(!available)
                            continue;
                        availableCount++;

                        const listItem = await createListItem(domain);
                        domainList.appendChild(listItem);
                        console.log(listItem)
                    }

                    if (availableCount > 0) {
                        isLoadingMore = false;
                        hasGeneratedDomains = true;
                        document.getElementById("loadMoreButton").style.display = "block";
                        hideSpinner();
                        return;
                    }
                }

                console.log("No available domains found.");
                document.getElementById("loadMoreButton").style.display = "none";
                hideSpinner();
                
            }
            

            async function createListItem(domain) {
                console.log("create list item")
                const listItem = document.createElement("li");
                const innerDiv = document.createElement("div");
                const outerDiv = document.createElement("div");
                const domainSpan = document.createElement("span");
                const isAvailableSpan = document.createElement("span");
                const registerSpan = document.createElement("span");
                const providerTable = await createProviderTable(domain);

                innerDiv.setAttribute("class", "inner-domain-div");
                innerDiv.addEventListener("contextmenu", (e) => e.preventDefault());

                domainSpan.setAttribute("class", "domain-text");
                domainSpan.textContent = domain.trim();
                domainSpan.style.userSelect = "none";
                domainSpan.addEventListener("contextmenu", (e) => e.preventDefault());

                innerDiv.appendChild(domainSpan);

                isAvailableSpan.setAttribute("class", "register-text");
                isAvailableSpan.textContent = "\u00A0is available! Click to register.";
                isAvailableSpan.style.userSelect = "none";
                isAvailableSpan.addEventListener("contextmenu", (e) => e.preventDefault());
                innerDiv.appendChild(isAvailableSpan);

                outerDiv.appendChild(innerDiv);
                outerDiv.setAttribute("class", "outer-domain-div");
                outerDiv.setAttribute("onclick", `toggleProviderTable('${domain}-list-item')`);

                listItem.appendChild(outerDiv);

                listItem.setAttribute("id", `${domain}-list-item`);

                listItem.appendChild(providerTable);
                providerTable.style.display = 'none';

                return listItem;
            }
            function toggleProviderTable(clickedId){
                console.log("toggle provider table")
                console.log('clickedId:', clickedId);
                const listItem = document.getElementById(clickedId);
                console.log('listItem:', listItem);
                const providerTableDiv = listItem.querySelector('.provider-table');
                console.log('providerTableDiv:', providerTableDiv);
                const isHidden = providerTableDiv.style.display === 'none';

                console.log("display before change:", providerTableDiv.style.display);
                providerTableDiv.style.display = isHidden ? 'block' : 'none';
                console.log("display after change:", providerTableDiv.style.display);
            }
            async function createProviderTable(domain) {
                console.log("create provider table")
                const response = await fetch(`/get_domain_details?domain=${domain}`);
                const providerData = await response.json();

                console.log("provider data", providerData);

                const providerTable = document.createElement("table");
                providerTable.setAttribute("class", "provider-table");
                
                // Create header row
                const headerRow = providerTable.insertRow();
                const nameHeader = headerRow.insertCell();
                nameHeader.innerHTML = "Select Provider:";
                nameHeader.classList.add("nameHeader");
                const priceHeader = headerRow.insertCell();
                priceHeader.innerHTML = "";
                
                // Create rows for each provider
                for (const provider of providerData) {
                    const providerRow = providerTable.insertRow();
                    
                    const providerName = providerRow.insertCell();
                    const providerLink = document.createElement("a");
                    providerLink.setAttribute("href", provider.url);
                    providerLink.setAttribute("target", "_blank");
                    providerLink.innerText = provider.name;
                    providerLink.setAttribute("class","provider-link");
                    providerName.appendChild(providerLink);
                    
                    const providerPrice = providerRow.insertCell();
                    providerPrice.innerText = "~"+provider.price;
                }
                
                return providerTable;
            }



            async function generateDomainsWithoutExtensions(description, generatedDomainss) {
                const response = await fetch("/generate_domains_without_extensions", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ description, generatedDomains}),
                });

                const data = await response.json();
                const domains = data.domains;
                return domains;
            
            }

            async function checkAvailability(domain) {
                const response = await fetch(`/check_availability?domain=${domain}`);
                const data = await response.json();
                console.log(domain, data.available);
                return data.available;
            }

            function clearDomainList() {
                console.log("clear domain list")
                const domainList = document.getElementById("domainList");
                while (domainList.firstChild) {
                    domainList.removeChild(domainList.firstChild);
                }
                document.getElementById("loadMoreButton").style.display = "none";
            }

            async function loadMoreDomains() {
                console.log("load more domains")
                if (isLoadingMore || !hasGeneratedDomains) {
                    console.log("Not loading more domains");
                    return;
                }

                const distanceToBottom = document.documentElement.scrollHeight - (window.innerHeight + window.scrollY);
                console.log("Distance to bottom: " + distanceToBottom);

                if (distanceToBottom < 100) {
                    console.log("Loading more domains");
                    isLoadingMore = true;
                    await generateDomainNames();
                }
            }

            function showSpinner() {
                console.log("show spinner")
                const spinner = document.getElementById("spinner");
                spinner.style.display = "block";
            }

            function hideSpinner() {
                console.log("hide spinner")
                const spinner = document.getElementById("spinner");
                spinner.style.display = "none";
            }

            function displayMessageWithBcrikko(message) {
                const generateButton = document.getElementById("generateButton");
                
                // Check if an error message container already exists and remove it
                const existingContainer = document.querySelector(".bcrikko-message-container");
                if (existingContainer) {
                    existingContainer.remove();
                }

                // Create the message list container
                const messageList = document.createElement("section");
                messageList.className = "message-list bcrikko-message-container"; // added bcrikko-message-container class for easy identification
                messageList.style.marginTop = "20px"; // added margin to the top

                // Create the message section container
                const messageSection = document.createElement("section");
                messageSection.className = "message -left";

                // Create the balloon container
                const balloonContainer = document.createElement("div");
                balloonContainer.className = "nes-balloon from-left";

                // Create the inner paragraph for the message
                const balloonText = document.createElement("p");
                balloonText.textContent = message;

                // Append the paragraph to the balloon container
                balloonContainer.appendChild(balloonText);

                // Create the nes-bcrikko character
                const bcrikkoCharacter = document.createElement("i");
                bcrikkoCharacter.className = "nes-bcrikko";
                bcrikkoCharacter.style.display = "block"; // Make the character block-level to appear below the balloon
                bcrikkoCharacter.style.marginTop = "10px"; // Add some margin to the top for spacing

                // Append the balloon and character to the message section
                messageSection.appendChild(balloonContainer);
                messageSection.appendChild(bcrikkoCharacter);

                // Append the message section to the message list
                messageList.appendChild(messageSection);

                // Insert the message list after the generateButton
                generateButton.insertAdjacentElement('afterend', messageList);
            }

            //window.addEventListener("scroll", loadMoreDomains);
        </script>  
    </div>     
</body>
</html>
